body {
    color: white;
}

#content {
    display: block !important;
    margin-top: 2%;
}

.user-info {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 98%;
    top: 50px;
}

.handle {
    color: #5c5c5c;
}

.opleiding {
    color: #686868;
}

.aboutme {
    margin-top: 2.5%;
    font-size: 1.5em;
}

#user_content {
    height: 50%;
    width: 100%;
}

.post {
    background-color: white;
    border-radius: 15px;
    text-align: left;
    height: 13%;
    padding: 1% 1% 2%;
    color: black;
    margin-top: 1%;
    width: 98%;
}

.post-container {
    padding-bottom: 10%;
}

.posted_time {
    color: gray;
    font-size: 0.8em;
    margin-bottom: 1px;
    align-self: flex-end;
    float: right;
}

#create_post {
    height: auto;
}

.create_post_form {
    height: 60%;
    width: 99%;
}

#post_content {
    height: 100%;
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

#create_post_button {
    bottom: 0;
    width: 100%;
    margin-top: 1.2%;
}