{% extends 'layout.html' %}

{% block title %}
	Talland Blog
{% endblock %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename="css/index.css") }}">
    <script src="{{ url_for('static', filename="scripts/components.js") }}"></script>
{% endblock %}

{% block content %}
    <h1 id="title">Talland Blog</h1>
    <p>Het blog waar Talland studenten kunnen vertellen hoe hun opleiding gaat en wat ze vinden van de school</p>
    <div class="search-seperator"></div>
    <h2>Zoek voor een student</h2>
    <custom-search-bar></custom-search-bar>
    <div class="search-seperator"></div>
    <div class="recents">
    <h2>Recente posts</h2>
    {% if (recents|length == 0) %}
        <p>Geen recente posts</p>
    {% else %}
        <section id="post-container">
            {% for post in recents %}
                <article class="post">
                    <a href="/user/{{ post[1] }}" class="user-link"><h3>{{ post[0] }}</h3></a>
                    <p>{{ post[2] }}</p>
                    <h4 class="posted_time">{{ pdate(post[3]) }}</h4>
                </article>
            {% endfor %}
        </section>
    {% endif %}
    </div>
{% endblock %}