<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    	
    {% endblock %}</title>
    {% block header %}

    {% endblock %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/layout.css") }}">
    <script src="{{ url_for('static', filename="scripts/components.js") }}"></script>
    <link rel="icon" href="{{ url_for('static', filename="img/favicon.png") }}">
</head>
<body>
    <nav id="nav">
        <div class="left">
            <a href="/"><h1 id="logo">Talland Blog</h1></a>
        </div>

        <div class="right">
            {% if (user != None and not hide_login_button) %}
                <div class="user-menu">
                <button aria-label="User menu">
                    <a href="/user/me">
                        <span>@{{ user.username }}</span>
                    </a>
                </button>
                <div class="dropdown-content">
                    <a href="/user/me">My Profile</a>
                    <a href="/auth/logout"><span class="logout_text">Logout</span></a>
                </div>
                </div>
            {% elif not hide_login_button %}
                <a href="login" id="navLoginButton"><button type="submit">Login</button></a>
            {% endif %}
        </div>
    </nav>
    <div id="superContent">
        <main id="content">
            {% block content %}

            {% endblock %}
        </main>
    {% if show_aside %}
        <aside id="ad">
            <a href="https://talland.nl"><img src="{{ url_for("static", filename="img/talland_reclame.png") }}" alt="Reclame"></a>
        </aside>
    {% endif %}
    </div>
</body>
</html>