<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    	
    {% endblock %}</title>
    {% block header %}

    {% endblock %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/layout.css") }}">
    <script src="{{ url_for('static', filename="scripts/components.js") }}"></script>
    <link rel="icon" href="{{ url_for('static', filename="img/favicon.png") }}">
</head>
<body>
    <div id="nav">
        <div class="left">
            <a href="/"><h1 id="logo">Talland Blog</h1></a>
        </div>

        <div class="right">
            {% if (user != None) %}
                <div class="user-menu">
                <button aria-label="User menu">
                    <a href="/user/me">
                        <span>@{{ user.username }}</span>
                    </a>
                </button>
                <div class="dropdown-content">
                    <a href="/user/me">My Profile</a>
                    <a href="/auth/logout"><span class="logout_text">Logout</span></a>
                </div>
                </div>
            {% else %}
                <a href="login" id="navLoginButton"><button type="submit">Login</button></a>
            {% endif %}
        </div>
    </div>
    <div id="content">
{% block content %}
	
{% endblock %}
    </div>
</body>
</html>