{% extends 'layout.html' %}

{% block title %}
	Login Or Signup
{% endblock %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">
{% endblock %}

{% block content %}
    <div class="left">
        <div class="error" id="login_error" style="display: {% if l_error %} block {% else %} none {% endif %}">
            <p>⚠︎<span id="login_error_text">{{ l_error or "" }}</span></p>
        </div>
        <h1>Login</h1>
        <form action="auth/login" id="loginForm" name="loginForm">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </form>
        <button id="LoginButton">Login</button>
    </div>
    <div class="seperator"></div>
    <div class="right">
        <div class="error" id="signup_error" style="display: {% if s_error %} block {% else %} none {% endif %}">
            <p>⚠︎<span id="signup_error_text">{{ s_error or "" }}</span></p>
        </div>
        <h1>Signup</h1>
        <form action="auth/signup" id="signupForm" name="signupForm">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password">
        </form>
        <button id="SignupButton">Signup</button>
    </div>
    <script src="{{ url_for("static", filename="scripts/login.js") }}"></script>
{% endblock %}