{% extends 'layout.html' %}

{% block title %}
	Resultaten voor {{ query }}
{% endblock %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename="css/search.css") }}">
{% endblock %}

{% block content %}
	<h1>Zoek resultaten voor: {{ query }}</h1>
    <p>{{ results|length }} resultaten</p>
    <custom-search-bar style="margin-left: 1.5%;"></custom-search-bar>
    <div id="results">
    {% if results|length == 0 %}
        No Results for query
    {% else %}
        {% for result in results %}
            <a href="/user/{{ result[1] }}">
        	    <div class="result">
                    <h1 class="naam">{{ result[2] }} <span class="handle">@{{ result[1] }}</span></h1>
                    <h2 class="opleiding">{{ result[3] }}</h2>
                    <p class="aboutme">{{ result[4] }}</p>
                </div>
            </a>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}