{% extends 'layout.html' %}

{% block title %}
	{{ requested_user.username }}
{% endblock %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename="css/user.css") }}">
{% endblock %}

{% block content %}
    <div class="user-info">
        <h4 class="handle">@{{ requested_user.username }}</h4>
	    <h1 class="naam">{{ requested_user.naam }}</h1>
        <h2 class="opleiding">{{ requested_user.opleiding }}</h2>
        <p class="aboutme">{{ requested_user.aboutme }}</p>
    </div>
    <div class="search-seperator"></div>
    <div id="user_content">
        <h1>Posts</h1>
        {% if posts|length == 0 %}
            <div class="post">
                <p>Deze gebruiker heeft nog geen posts gemaakt</p>
            </div>
        {% else %}
            {% if requested_user.id == user.id %}
                test
            {% endif %}
            <div class="post-container">
                {% for post in posts %}
                	<div class="post">
                        <p>{{ post[2] }}</p>
                        <h4 class="posted_time">{{ post[3] }}</h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}